    /* CSS comes here */
    #video {
        border: 1px solid black;
        width: 320px;
        height: 240px;
    }

    #photo {
        border: 1px solid black;
        width: 150px;
        height: 150px;
    }
    #photo1 {
        border: 1px solid black;
        width: 150px;
        height: 150px;
    }
    #photo2 {
        border: 1px solid black;
        width: 150px;
        height: 150px;
    }
    #photo3 {
        border: 1px solid black;
        width: 150px;
        height: 150px;
    }
    #photo4 {
        border: 1px solid black;
        width: 150px;
        height: 150px;
    }
    #photo5 {
        border: 1px solid black;
        width: 150px;
        height: 150px;
    }

    #canvas {
        display: none;
    }
    #canvas1 {
        display: none;
    }
    #canvas2 {
        display: none;
    }
    #canvas3 {
        display: none;
    }
    #canvas4 {
        display: none;
    }
    #canvas5 {
        display: none;
    }




    .camera {
        width: 340px;
        display: inline-block;
    }

    .output {
        width: 340px;
        display: inline-block;
    }


    .contentarea {
        font-size: 16px;
        font-family: Arial;
        text-align: center;
    }
