{% include 'admin-layout.html' %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Create Face Group</h1>


  <form id="myform" class="user" method="POST">
    <div class="form-group">
      <input type="text" class="form-control form-control-user" id="groupname" name="groupname" placeholder="Class Name   (.....e.g becomp )  must be in lowercase without any space and spceial character" pattern="^[a-z]+$"
        required>
      <div id="fname_response"></div>

    </div>


</div>
<div class="text-center">
  <button type="submit" id="facebutton" disabled="disabled" class="btn btn-primary btn-user btn-user">
    Submit
  </button>

</div>
<!-- /.container-fluid -->
</form>

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Your Website 2019</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/js/sb-admin-2.min.js"></script>
<script src="../static/js/checkfacegroup.js"></script>

</body>

</html>