{% include 'admin-layout.html' %}
{% block body %}

<div class="row">
    <div class="col-md-5  offset-md-4">

        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                        width="150">
                    <div class="mt-3">
                        <h4>{{users.username}}</h4>
                    </div>
                </div>
            </div>
        </div>    
        <div class="card card-body">
            <form action="/updateprofile" method="POST">
                <form id="myform" class="users" method="POST">

                    <div class="form-group">
                        <input type="text" name="name" value="{{ users.name}}" class="form-control" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" value="{{users.username}}" class="form-control"
                            placeholder="Username" disabled>
                        <div id="uname_response"></div>
                    </div>

                    <div class="form-group">
                        <input type="email" name="email" value="{{users.email}}" class="form-control"
                            placeholder="Email" disabled>
                        <div id="name_response"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="class" value="{{users.class}}" class="form-control"
                            placeholder="Class">
                    </div>

                    <div class="form-group">
                        <input type="text" name="roll number" value="{{users.roll_number}}" class="form-control"
                            placeholder="Roll Number">
                    </div>

                    <div class="form-group">
                        <input type="text" name="age" value="{{users.age}}" class="form-control" placeholder="Age">
                    </div>

                    <div class="form-group">
                        <input type="text" name="number" value="{{users.number}}" class="form-control" placeholder="Mobile Number">
                    </div>



                    <div class="form-group">
                        <button data-toggle="modal" data-target="#ok"class="btn btn-primary btn-block">
                            Save
                        </button>
                    </div>
                    <!-- Modal -->
                    <div id="ok" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                    
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Save</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                                </div>
                                <div class="modal-body">
                                    <p> Do you want to update information ?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" >Save</button>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                    <!-- //////////////////////////////////////////////////////////////////////////// -->

                </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- Bootstrap core JavaScript-->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/js/sb-admin-2.min.js"></script>

</html>
