{% include 'admin-layout.html' %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Attendance Record</h1>
  <div class="card-body">
    <form class="user" method="POST" action="{{ url_for('tables') }}">
      <div class="form-group">
        <label class="font-weight-bold" for="classroom">Slect Class</label>
        <div class="input-group">
          <select name="classroom" class="selectpicker form-control">
            <option value="{{ choose }}" hidden>{{ choose }}</option>
            {% for class in classroom %}
            <option value="{{ class }}">{{ class }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <hr>
      <div class="form group">
        <div class="input-group">
          <label class="font-weight-bold" style="margin-right:5px;" for="sdate">From </label>
          <input type="date" name="sdate" class="form-control">

          <label class="font-weight-bold" style="margin-left:10px;margin-right:5px;" for="edate"> To </label>
          <input type="date" name="edate" class="form-control">
        </div>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary btn-user btn-block">Go</button>
    </form>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Attendance Table</h6>
      <h6 style="text-align: center;" class="m-0 font-weight-bold text-primary">{{diff[0]}} to {{diff[1]}}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Roll No</th>
              <th>Name</th>
              <th>Class</th>
              {% for sub in sublist%}
              <th>{{sub}}</th>
              {% endfor %}
              <th>Average (%)</th>
            </tr>
          </thead>



          <tbody>


            {% for atd in atd_list %}
            <tr>
              <td>{{ atd['rollnumber'] }}</td>
              <td>{{ atd['name'] }}</td>
              <td>{{ atd['classroom'] }}</td>
              {% for sub in sublist%}
              <td>{{atd[sub]}}</td>
              {% endfor %}

              <!-- calculating average average  -->
              {% set mark = [] %}
              {% for key, val in atd.items() %}
              {% for sub in sublist %}
              {% if key|lower == sub|lower %}
              {% if mark.append(val) %}{% endif %}
              {% endif %}
              {% endfor %}
              {% endfor %}
              {% set total = "%.2f"|format(mark|sum() * 100 / (diff[2] * 6)) %}
              <!-- end of code -->

              <td>{{total}}</td>
            </tr>
            {% endfor %}



        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; AMS 2021</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../static/js/attendancetable.js"></script>


</body>

</html>