{% include 'admin-layout.html' %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gigray-800">Weekly Time Table</h1>

    <div class="card-body">
        <form class="user" method="POST" action="{{ url_for('timetable') }}">
            <div class="form-group">
                <div class="input-group">
                    <select name="classroom" class="selectpicker form-control">
                        {% for class in classroom %}
                        <option value="{{ class }}">{{ class }}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary btn-user btn-block">Go</button>
            </div>
        </form>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Time Table</h6>
        </div>
        <div class="card-body" id="table">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>sr.no</th>
                            <th>Day</th>
                            <th>9:15 <br> to <br>10:15</th>
                            <th>10:15 - 11-15</th>
                            <th>11:15 - 11:30</th>
                            <th>11:30 - 12:30</th>
                            <th>12:30 - 1:30</th>
                            <th>1:30 - 2:15</th>
                            <th>2:15 - 3:15</th>
                            <th>3:15 - 4:15</th>
                            <th>4:15 - 5:00</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kd in kd_list %}
                        <tr>
                            <td>{{ '1' }}</td>
                            <td>{{ 'Monday' }}</td>
                            <td>{{ kd['Monday']['9:15-10:15'] }}</td>
                            <td>{{ kd['Monday']['10:15-11:15']}}</td>
                            <td>{{ kd['Monday']['11:15-11:30'] }}</td>
                            <td>{{ kd['Monday']['11:30-12:30'] }}</td>
                            <td>{{ kd['Monday']['12:30-1:30']}}</td>
                            <td>{{ kd['Monday']['1:30-2:15'] }}</td>
                            <td>{{ kd['Monday']['2:15-3:15'] }}</td>
                            <td>{{ kd['Monday']['3:15-4:15'] }}</td>
                            <td>{{ kd['Monday']['4:15-5:00'] }}</td>
                            <td>
                                <a href="/edit_tt/Monday" class="btn btn-secondary btn-sm">edit</a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>{{ '2' }}</td>
                            <td>{{ 'Tuesday' }}</td>
                            <td>{{ kd['Tuesday']['9:15-10:15'] }}</td>
                            <td>{{ kd['Tuesday']['10:15-11:15']}}</td>
                            <td>{{ kd['Tuesday']['11:15-11:30'] }}</td>
                            <td>{{ kd['Tuesday']['11:30-12:30'] }}</td>
                            <td>{{ kd['Tuesday']['12:30-1:30']}}</td>
                            <td>{{ kd['Tuesday']['1:30-2:15'] }}</td>
                            <td>{{ kd['Tuesday']['2:15-3:15'] }}</td>
                            <td>{{ kd['Tuesday']['3:15-4:15'] }}</td>
                            <td>{{ kd['Tuesday']['4:15-5:00'] }}</td>
                            <td>
                                <a href="/edit_tt/Tuesday" class="btn btn-secondary btn-sm">edit</a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>{{ '3' }}</td>
                            <td>{{ 'Wednesday ' }}</td>
                            <td>{{ kd['Wednesday']['9:15-10:15'] }}</td>
                            <td>{{ kd['Wednesday'] ['10:15-11:15']}}</td>
                            <td>{{ kd['Wednesday']['11:15-11:30'] }}</td>
                            <td>{{ kd['Wednesday']['11:30-12:30'] }}</td>
                            <td>{{ kd['Wednesday']['12:30-1:30']}}</td>
                            <td>{{ kd['Wednesday']['1:30-2:15'] }}</td>
                            <td>{{ kd['Wednesday']['2:15-3:15'] }}</td>
                            <td>{{ kd['Wednesday']['3:15-4:15'] }}</td>
                            <td>{{ kd['Wednesday']['4:15-5:00'] }}</td>
                            <td>
                                <a href="/edit_tt/Wednesday" class="btn btn-secondary btn-sm">edit</a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>{{ '4' }}</td>
                            <td>{{ 'Thursday' }}</td>
                            <td>{{ kd['Thursday']['9:15-10:15'] }}</td>
                            <td>{{ kd['Thursday']['10:15-11:15']}}</td>
                            <td>{{ kd['Thursday']['11:15-11:30'] }}</td>
                            <td>{{ kd['Thursday']['11:30-12:30'] }}</td>
                            <td>{{ kd['Thursday']['12:30-1:30']}}</td>
                            <td>{{ kd['Thursday']['1:30-2:15'] }}</td>
                            <td>{{ kd['Thursday']['2:15-3:15'] }}</td>
                            <td>{{ kd['Thursday']['3:15-4:15'] }}</td>
                            <td>{{ kd['Thursday']['4:15-5:00'] }}</td>
                            <td>
                                <a href="/edit_tt/Thursday" class="btn btn-secondary btn-sm">edit</a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>{{ '5' }}</td>
                            <td>{{ 'Friday' }}</td>
                            <td>{{ kd['Friday']['9:15-10:15'] }}</td>
                            <td>{{ kd['Friday']['10:15-11:15']}}</td>
                            <td>{{ kd['Friday']['11:15-11:30'] }}</td>
                            <td>{{ kd['Friday']['11:30-12:30'] }}</td>
                            <td>{{ kd['Friday']['12:30-1:30']}}</td>
                            <td>{{ kd['Friday']['1:30-2:15'] }}</td>
                            <td>{{ kd['Friday']['2:15-3:15'] }}</td>
                            <td>{{ kd['Friday']['3:15-4:15'] }}</td>
                            <td>{{ kd['Friday']['4:15-5:00'] }}</td>
                            <td>
                                <a href="/edit_tt/Friday" class="btn btn-secondary btn-sm">edit</a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>{{ '6' }}</td>
                            <td>{{ 'Saturday' }}</td>
                            <td>{{ kd['Saturday']['9:15-10:15'] }}</td>
                            <td>{{ kd['Saturday']['10:15-11:15']}}</td>
                            <td>{{ kd['Saturday']['11:15-11:30'] }}</td>
                            <td>{{ kd['Saturday']['11:30-12:30'] }}</td>
                            <td>{{ kd['Saturday']['12:30-1:30']}}</td>
                            <td>{{ kd['Saturday']['1:30-2:15'] }}</td>
                            <td>{{ kd['Saturday']['2:15-3:15'] }}</td>
                            <td>{{ kd['Saturday']['3:15-4:15'] }}</td>
                            <td>{{ kd['Saturday']['4:15-5:00'] }}</td>
                            <td>
                                <a href="/edit_tt/Saturday" class="btn btn-secondary btn-sm">edit</a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../static/js/hidetimetableproperty.js"></script>
</body>

</html>