{% include 'admin-layout.html' %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gigray-800">Weekly Time Table</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Time Table</h6>
        </div>
        <div class="card-body">
           <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>sr.no</th>
                            <th>Day</th>
                            <th>9:15 - 10:15</th>
                            <th>10:15 - 11-15</th>
                            <th>11:15 - 11:30</th>
                            <th>11:30 - 12:30</th>
                            <th>12:30 - 1:30</th>
                            <th>1:30 - 2:15</th>
                            <th>2:15 - 3:15</th>
                            <th>3:15 - 4:15</th>
                            <th>4:15 - 5:00</th>

                        </tr>
                    </thead>



                    <tbody>


                        {% for kd in kd_list %}
                        <tr>
                            <td>{{ '1' }}</td>
                            <td>{{ 'Monday' }}</td>
                            <td>{{ kd['be-comp']['monday']['9-15 to 10-15'] }}</td>
                            <td>{{ kd['be-comp']['monday']['10-15 to 11-15']}}</td>
                            <td>{{ kd['be-comp']['monday']['11-15 to 11-30'] }}</td>
                            <td>{{ kd['be-comp']['monday']['11-30 to 12-30'] }}</td>
                            <td>{{ kd['be-comp']['monday']['12-30 to 1-30']}}</td>
                            <td>{{ kd['be-comp']['monday']['1-30 to 2-15'] }}</td>
                            <td>{{ kd['be-comp']['monday']['2-15 to 3-15'] }}</td>
                            <td>{{ kd['be-comp']['monday']['3-15 to 4-15'] }}</td>
                            <td>{{ kd['be-comp']['monday']['4-15 to 5'] }}</td>
                        </tr>
                        <tr>
                            <td>{{ '2' }}</td>
                            <td>{{ 'Tuesday' }}</td>
                            <td>{{ kd['be-comp']['tuesday']['9-15 to 10-15'] }}</td>
                            <td>{{ kd['be-comp']['tuesday']['10-15 to 11-15']}}</td>
                            <td>{{ kd['be-comp']['tuesday']['11-15 to 11-30'] }}</td>
                            <td>{{ kd['be-comp']['tuesday']['11-30 to 12-30'] }}</td>
                            <td>{{ kd['be-comp']['tuesday']['12-30 to 1-30']}}</td>
                            <td>{{ kd['be-comp']['tuesday']['1-30 to 2-15'] }}</td>
                            <td>{{ kd['be-comp']['tuesday']['2-15 to 3-15'] }}</td>
                            <td>{{ kd['be-comp']['tuesday']['3-15 to 4-15'] }}</td>
                            <td>{{ kd['be-comp']['tuesday']['4-15 to 5'] }}</td>

                        </tr>
                        <tr>
                            <td>{{ '3' }}</td>
                            <td>{{ 'Wednesday	' }}</td>
                            <td>{{ kd['be-comp']['wednesday']['9-15 to 10-15'] }}</td>
                            <td>{{ kd['be-comp']['wednesday'] ['10-15 to 11-15']}}</td>
                            <td>{{ kd['be-comp']['wednesday']['11-15 to 11-30'] }}</td>
                            <td>{{ kd['be-comp']['wednesday']['11-30 to 12-30'] }}</td>
                            <td>{{ kd['be-comp']['wednesday'] ['12-30 to 1-30']}}</td>
                            <td>{{ kd['be-comp']['wednesday']['1-30 to 2-15'] }}</td>
                            <td>{{ kd['be-comp']['wednesday']['2-15 to 3-15'] }}</td>
                            <td>{{ kd['be-comp']['wednesday']['3-15 to 4-15'] }}</td>
                            <td>{{ kd['be-comp']['wednesday']['4-15 to 5'] }}</td>

                        </tr>
                        <tr>
                            <td>{{ '4' }}</td>
                            <td>{{ 'Thursday' }}</td>
                            <td>{{ kd['be-comp']['thursday']['9-15 to 10-15'] }}</td>
                            <td>{{ kd['be-comp']['thursday']['10-15 to 11-15']}}</td>
                            <td>{{ kd['be-comp']['thursday']['11-15 to 11-30'] }}</td>
                            <td>{{ kd['be-comp']['thursday']['11-30 to 12-30'] }}</td>
                            <td>{{ kd['be-comp']['thursday']['12-30 to 1-30']}}</td>
                            <td>{{ kd['be-comp']['thursday']['1-30 to 2-15'] }}</td>
                            <td>{{ kd['be-comp']['thursday']['2-15 to 3-15'] }}</td>
                            <td>{{ kd['be-comp']['thursday']['3-15 to 4-15'] }}</td>
                            <td>{{ kd['be-comp']['thursday']['4-15 to 5'] }}</td>
                        </tr>
                        <tr>
                            <td>{{ '5' }}</td>
                            <td>{{ 'Friday' }}</td>
                            <td>{{ kd['be-comp']['friday']['9-15 to 10-15'] }}</td>
                            <td>{{ kd['be-comp']['friday']['10-15 to 11-15']}}</td>
                            <td>{{ kd['be-comp']['friday']['11-15 to 11-30'] }}</td>
                            <td>{{ kd['be-comp']['friday']['11-30 to 12-30'] }}</td>
                            <td>{{ kd['be-comp']['friday']['12-30 to 1-30']}}</td>
                            <td>{{ kd['be-comp']['friday']['1-30 to 2-15'] }}</td>
                            <td>{{ kd['be-comp']['friday']['2-15 to 3-15'] }}</td>
                            <td>{{ kd['be-comp']['friday']['3-15 to 4-15'] }}</td>
                            <td>{{ kd['be-comp']['friday']['4-15 to 5'] }}</td>
                        </tr>
                        <tr>
                            <td>{{ '6' }}</td>
                            <td>{{ 'Saturday' }}</td>
                            <td>{{ kd['be-comp']['saturday']['9-15 to 10-15'] }}</td>
                            <td>{{ kd['be-comp']['saturday']['10-15 to 11-15']}}</td>
                            <td>{{ kd['be-comp']['saturday']['11-15 to 11-30'] }}</td>
                            <td>{{ kd['be-comp']['saturday']['11-30 to 12-30'] }}</td>
                            <td>{{ kd['be-comp']['saturday']['12-30 to 1-30']}}</td>
                            <td>{{ kd['be-comp']['saturday']['1-30 to 2-15'] }}</td>
                            <td>{{ kd['be-comp']['saturday']['2-15 to 3-15'] }}</td>
                            <td>{{ kd['be-comp']['saturday']['3-15 to 4-15'] }}</td>
                            <td>{{ kd['be-comp']['saturday']['4-15 to 5'] }}</td>

                        </tr>

                        {% endfor %}



                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="static/js/demo/datatables-demo.js"></script>


</body>

</html>
