{% include 'admin-layout.html' %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Attendance Record</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Attendance Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Class</th>
                            <th>Roll Number</th>
                            <th>Edit</th>
                            <th>Delete</th>



                        </tr>
                    </thead>



                    <tbody>


                        {% for atd in ds_list %}
                        <tr>
                            <td>{{ atd['name'] }}</td>
                            <td>{{ atd['username'] }}</td>
                            <td>{{ atd['email'] }}</td>
                            <td>{{ atd['class'] }}</td>
                            <td>{{ atd['roll_number']}} </td>
                            <td>
                                <a href="/edit/{{atd.email}}" class="btn btn-secondary btn-sm">edit</a>
                            </td>
                            <td>
                                <button  data-toggle="modal" data-target="#delete" class="btn btn-danger btn-delete btn-sm">delete</button>
                            </td>

                        </tr>

                        <!-- Modal -->
                        <div id="delete" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                        
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure.
                                            You want to Delete data of {{atd.name}} ?
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a href="/delete/{{atd.email}}" class="btn btn-primary" >Delete</a>
                                    </div>
                                </div>
                        
                            </div>
                        </div>
                        <!-- //////////////////////////////////////////////////////////////////////////// -->

                        {% endfor %}



                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->

</body>

</html>